<!DOCTYPE HTML>-


<html lang="en  ">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>Acerca de </title>
		 <link rel="stylesheet" type="test/css" href="/static/css.css">

	</head>
	<body background="/static/fondo.png">
		<div id="divacercade">
			<a href="{{request.META.HTTP_REFERER}}" id="linkacerca" >Atras</a>
		</div>
		<div id="general">
			<div id="contenidoacerca">
				<div><h1>SearchEat</h1>
				<img src="/static/logo.png" ><br>	
				</div>
				<div>
					<br>
					<h2>Acerca de SearchEat</h2><br>
					<h3><p>Este buscador fue desarrollado solo para la busqueda de recetas de cocina <br>
						evita buscar otros temas</p></h3><br>
					<h2>Tips:</h2>
					<br>
					<ol id="lista2">
						<li>Para que te sea mas facil encontrar lo que quieres se directo <br>
						Ejemplo: pescado al horno</li>
						<li>Recuerda buscar con buena ortografia</li>
						<li>No utilices signos de puntuacion </li>
						
					</ol>
			
					<br>
					<h2>Desarrolladores</h2><br>
					<h3>Jessica Lisseth Ramirez</h3><br>
					<h3>Contacto</h3>
					<a href="https://www.facebook.com/jessicalisseth.ramirezbriceno"><img src="/static/fb.jpg" height="50px" width= "50px" ></a>
					<br>
					<br>
					<h3>Juan Sebastian Forero</h3><br>
					<h3>Contacto</h3>
					<a href="https://www.facebook.com/juanse.fo"><img src="/static/fb.jpg" height="50px" width= "50px" ></a>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					
				</div>
				<div>
					<footer>Copyright&copy: 2015 - Paguina creada por Jessica y Sebastian - Todos los derechos reservados
					</footer>
				</div>
			</div>
		

		</div>

	
	</body>
	

</html>